In [4]:
import kagglehub
import shutil
import os

path = kagglehub.dataset_download("faviovaz/bank-term-deposit")

destination_folder = "/content"

source_csv_file = os.path.join(path, "bank_term_deposit.csv")
destination_csv_file = os.path.join(destination_folder, "bank_term_deposit.csv")

Using Colab cache for faster access to the 'bank-term-deposit' dataset.

In [5]:
import pandas as pd
df = pd.read_csv(source_csv_file, sep =";")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,NaN,management,single,tertiary,no,135.0,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59.0,blue-collar,married,secondary,no,NaN,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33.0,services,married,secondary,no,-333.0,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57.0,self-employed,married,tertiary,yes,-3313.0,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57.0,technician,married,secondary,no,295.0,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28.0,blue-collar,married,secondary,no,1137.0,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44.0,entrepreneur,single,tertiary,no,1136.0,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [6]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,NaN,management,single,tertiary,no,135.0,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59.0,blue-collar,married,secondary,no,NaN,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [7]:
# à¸«à¸²à¸„à¹ˆà¸²à¸—à¸µà¹ˆà¹€à¸›à¹‡à¸™ null
df_null = df.isnull().sum()
df_null

age          537
job            0
marital        0
education      0
default        0
balance      357
housing        0
loan           0
contact        0
day            0
month          0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [8]:
# à¸ˆà¸°à¹à¸—à¸™à¸„à¹ˆà¸² null à¸”à¹‰à¸§à¸¢à¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢
# à¸”à¸¹à¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹à¸•à¹ˆà¸¥à¸°à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ
df.mean(axis = 0, skipna = True, numeric_only = True)

age           41.617470
balance     1136.750240
day           15.915284
duration     263.961292
campaign       2.793630
pdays         39.766645
previous       0.542579
dtype: float64

In [9]:
# à¹à¸—à¸™à¸„à¹ˆà¸² null à¸”à¹‰à¸§à¸¢à¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢ à¹ƒà¸™à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ age
df["age"].fillna("41.6", inplace = True)
# à¹à¸—à¸™à¸„à¹ˆà¸² null à¸”à¹‰à¸§à¸¢à¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢ à¹ƒà¸™à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œ balance
df["balance"].fillna("1136.75", inplace = True)

df

/tmp/ipython-input-3623250044.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna("41.6", inplace = True)
/tmp/ipython-input-3623250044.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '41.6' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["age"].fillna("41.6", inplace = True)
/tmp/ipython-input-3623250044.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["balance"].fillna("1136.75", inplace = True)
/tmp/ipython-input-3623250044.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1136.75' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["balance"].fillna("1136.75", inplace = True)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,41.6,management,single,tertiary,no,135.0,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59.0,blue-collar,married,secondary,no,1136.75,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33.0,services,married,secondary,no,-333.0,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57.0,self-employed,married,tertiary,yes,-3313.0,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57.0,technician,married,secondary,no,295.0,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28.0,blue-collar,married,secondary,no,1137.0,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44.0,entrepreneur,single,tertiary,no,1136.0,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [10]:
# à¸•à¸£à¸§à¸ˆà¸ªà¸­à¸šà¸­à¸µà¸à¸„à¸£à¸±à¹‰à¸‡
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
# à¸”à¸¹à¸›à¸£à¸°à¹€à¸ à¸—à¸‚à¸­à¸‡à¹à¸•à¹ˆà¸¥à¸°à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¸§à¹ˆà¸²à¸–à¸¹à¸à¸•à¹‰à¸­à¸‡à¸•à¸²à¸¡ format à¸¡à¸±à¹‰à¸¢
df.dtypes

age          object
job          object
marital      object
education    object
default      object
balance      object
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [12]:
# à¸ˆà¸°à¹€à¸«à¹‡à¸™à¸§à¹ˆà¸²à¸¡à¸µ 2 à¸„à¸­à¸¥à¸±à¸¡à¸™à¹Œà¸—à¸µà¹ˆà¸œà¸´à¸” data type
df[['age', 'balance']].dtypes

age        object
balance    object
dtype: object

In [13]:
# à¸—à¸³à¸à¸²à¸£à¹à¸›à¸¥à¸‡à¸„à¹ˆà¸²à¹ƒà¸«à¹‰à¹€à¸›à¹‡à¸™à¸•à¸±à¸§à¹€à¸¥à¸‚
df['age'] = df['age'].astype(float)
df['balance'] = df['balance'].astype(float)

# df = df.astype({'age': float, 'balance': float})

df.dtypes

age          float64
job           object
marital       object
education     object
default       object
balance      float64
housing       object
loan          object
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
y             object
dtype: object

In [14]:
# à¹€à¸‹à¸Ÿà¸­à¸­à¸à¹€à¸›à¹‡à¸™à¹„à¸Ÿà¸¥à¹Œ parquet
df.to_parquet("/content/bank_term_deposit.parquet")

In [15]:
df.to_excel("/content/output.xlsx")

In [16]:
df.to_csv("/content/output.csv")